@import url(base.css);

/* Checkout Page */

form {
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
}

form h2 {
    font-size: var(--space-lg);
    font-weight: bold;
    letter-spacing: 0.15rem;
    margin-bottom: var(--space-xl);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #aaafb4;
    font-size: var(--space-md);
}

form .shipping-details input {
    width: 100%;
    padding: var(--space-md);
    margin-bottom: var(--space-lg);
    font-size: var;
    background-color: var(--secondary);
    border-style: none;
}

.checkbox-container{
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.checkbox-container label{
    margin: 0;
    color: var(--text2);
}

.form-group input[type="checkbox"] {
    margin: 0;
    margin-right: var(--space-sm);
    width: var(--space-md);
    height: var(--space-md);
}

.order-summary {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: var(--space-xxl);
}

.order-summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-summary ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.order-summary ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary ul li .price{
    margin-left: auto;
}

.order-summary img{
    display: block;
    width: var(--space-xl);
    height: auto;
    margin-right: var(--space-lg);
}

.order-summary .space{
    margin-top: var(--space-xl);
}

.order-summary hr{
    margin-top: var(--space-md) ;
    margin-bottom: var(--space-md);
}

.payment-methods {
    margin-bottom: var(--space-md);
}

.payment-methods label {
    color: var(--text2);
}

.payment-methods label input{
    margin-right: var(--space-md);
}

.coupon-section {
    display: flex;
    gap: var(--space-md);
}

.coupon-section input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.place-order-btn {
    display: block;
    width: 100%;
}

@media (max-width: 1000px) {

    form {
        margin: 0 auto;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
    }
  
    
  
  }


