@import url(base.css);

/* General */

.flash-sales-products , .best-selling-products-container , .explore-section-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: var(--space-lg);
}

.product > *{
    margin-bottom: var(--space-xs);
}

.product-box{
    background-color: var(--secondary);
    padding: 3rem;
    margin-bottom: var(--space-md);
}

.product-box > img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}

main h2 {
    letter-spacing: var(--space-xxs);
}

.title-header{
    margin-bottom: var(--space-xl);
}

section hr {
    margin-bottom: 8rem;
}

.view-all-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-xxl);
}

/*-----------Banner And Categories Section ---------*/

.categories-and-banner{
    display: grid; 
    grid-template-columns: 0.3fr 0.1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 10px 0px; 
    margin-bottom: 12rem;
    color: var(--text);
}

.categories > ul{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    list-style: none;
}

.banner{
    height: auto;
    display: flex;
    background-color: var(--text2);
}

.image-slider{
    display: flex;
    align-items:end;
}

.image-slider .slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--space-xl);
}


.image-slider .slide .slide-info{
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-bottom: auto;

}

.slide-info-header{
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}

.slide-info > h2{
    font-size: 3rem;
    letter-spacing: 0.3rem;
}

.slide-info-header > h3 {
    font-weight: 200;
    font-size: var(--space-md);
    margin: 0;
}

.slide  img{
    width: 60%;
    height: 50%;
}

.slide-info-header > img{
    width: 15%;
    height: auto;
}

.vl {
    border-left: 1px solid var(--text1);
    height: auto;
  }

  .slide-info-button > a{
    color: var(--text);
    font-size: 1.3rem;
    margin-right: var(--space-md);
    text-decoration: underline;
    transition: var(--transition);
    margin-bottom: var(--space-md);
  }

  .slide-info-button > a:hover{
    color: var(--button1);
  }

  @media (max-width: 1000px) {

    .image-slider .slide{
        flex-direction: column;
        gap: var(--space-lg);
        margin: var(--space-lg);
        padding: 0;
    }

    .categories > ul{
        gap: var(--space-lg);
    }

  }

  @media (max-width: 768px) {

    .categories-and-banner{
        grid-template-columns: 1fr; 
        grid-template-rows: 0.5fr 0.1fr 1fr; 
        gap: 10px 0px; 
    }

    .vl {
        height: 0;
    }

    .categories > ul{
         align-items: center;
    }

  }

/*--------------Flash Sales Section -------------*/

.flash-sales-products{
    margin-bottom: var(--space-xl);
}

.product{
    transition: var(--transition);
}

.product:hover{
    transform: translateY(-5px);
}

.rating > i {
    font-size: 1rem;
    color: var(--star);
}

.product > p {
    color: var(--secondary2);
    font-weight: 500;
}


/*--------------Browse By Category Section -------------*/

.browse-category-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: var(--space-lg);
    margin-bottom: 10rem;
}

.browse-category-container-box{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1.5px;
    border-radius: 0.3rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.browse-category-container-box > img{
    width: 50%;
}

.browse-category-container-box > h4{
    font-weight: 100;
    padding-top: var(--space-md);
}

.browse-category-container-box:hover{
    background-color: var(--secondary2);
    transform: translateY(-5px);
}

/*--------------Browse By Category Section -------------*/

 .best-selling-products > .title-header{
    display: flex;
    justify-content: space-between;
}

.best-selling-products{
    margin-bottom: 12rem;
}

/*--------------Advertising section -------------*/

.advertising-section{
    background-image: radial-gradient(circle at 75%, var(--primary1) 5%, black 90%);
    padding: var(--space-xl);
    margin-bottom: 8rem;
}

.advertising-section-box{
    display: flex;
    justify-content: space-between;
}

.advertising-section-box-title > *{
    margin-bottom: var(--space-lg);

}

.advertising-section-box-img > img{
    display: block;
    margin-left: auto;
    object-fit: contain;
    width: 90%;
}

.advertising-section-box-title{
    width: 100%;
    margin-right: var(--space-sm);
}

.advertising-section-box hr{
    width: 80%;
}

.advertising-section h2{
    font-size: 3rem;
    color: var(--primary);
}

.advertising-section p{
    color: var(--button1);
}

.advertising-section button{
    background-color: var(--button1);
    color: var(--text2);
    transition: var(--transition);
}

.advertising-section button:hover{
    background-color: #00c54f;
}

@media (max-width: 1000px){
    .advertising-section-box{
        flex-direction: column;
    }
}
    

/*--------------Explore Products Section -------------*/

.explore-section-container{
    margin-bottom: var(--space-xl);
}


/*--------------Services Section -------------*/
.services-section{
    padding: 4rem 6rem;
}

.services-section-container{
    display: flex;
    justify-content: space-between;
}

.services-section-container-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section-container-element > div{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    margin-bottom: var(--space-lg);
}

.services-section-container-element > div > div{
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: var(--text2);
    border-radius: 100%;
    margin: 0.8rem;
}

.services-section-container-element img{
    width: 3rem;
    height: auto;
    margin: var(--space-sm);
}

.services-section-container-element > p{
    font-size: 0.9rem;
}

@media (max-width: 1000px) {
  
    .services-section-container-element > h3{
        font-size: 0.8rem;
    }

    .services-section-container-element > p{
        font-size: 0.6rem;
    }
  
  }

  @media (max-width: 768px) {

    .services-section-container{
        flex-direction: column;
    }
  
  }